/* CSS per Overlay */

.apri{  font-size:18px; font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; float:right; margin-right:50px;}
.apri:hover{ font-size:18px; font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; cursor:pointer; color:red;}
.chiudi{ font-size:18px; color:#000; font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-weight:bold; position:absolute; right:5%; top:0%;  cursor:pointer;}

.overlay{    background:#000;
    position:fixed;    top:10px;
    bottom:10px;    left:10px;
    right:10px;    z-index:100;
    cursor:pointer;    font-family: Courier, monospace;
/*Trasperenza cross browser*/    opacity: .7; filter: alpha(opacity=70);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
